<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>vue 1-2</title>
    <link rel="stylesheet" href="css/common.css">
    <script src="libs/vue@2.6.10.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style type="text/css">
    </style>
</head>
<body>
<div class="app1-2">

    <ul>
        <li v-for="(article, i) in articleList">
            <a :href="article.articleUrl" target="_blank"> {{ article.title }} </a>
            <button @click="collectClick($event)" :data-id="article.id">收藏</button>
        </li>
    </ul>

    <button><a href="/ss/account/enable">点击激活ss</a></button>


    <button @click="addArticle">添加article</button>
    <form>
        <input placeholder="标题" v-model="title">
        <input placeholder="url" v-model="url">
    </form>
</div>

<script>
    let app = new Vue({
        // 既然 el 是选择器，那么 class 选择器也是可以的
        el: '.app1-2',
        data: function () {
            return {
                title: "",
                url: "",
                articleList: [],
            }
        },
        methods: {
            check: function () {
                return true;
            },
            getArticleList: function () {
                axios.post('/article/list', {}).then(response => {
                    let data = response.data.data;
                    this.articleList = data
                    console.log(response)
                    console.log(data)
                })
            },
            addArticle: function (event) {
                console.log(this.title, this.url)
                axios.post("/article/add", {
                    "title": this.title,
                    "url": this.url,
                }).then(response => {
                    console.log(response)
                })
            },
            collectClick: function (event) {
                // event.target.getAttribute("data-id")
                let articleId = event.target.dataset.id;
                axios.get("/article/collect?id=" + articleId)
                    .then(response => {
                        console.log(response)
                    })
            }

        },
        mounted() {
            this.getArticleList();
        }
    })
</script>
</body>
</html>
