<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>vue 1-2</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/enote.css">
    <!-- element 引入样式 -->
    <!--    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->
    <link rel="stylesheet" href="libs/element-ui@2.14.1/index.css">
    <style type="text/css">
    </style>
</head>
<body>
<div class="app">

    <body>
    <div class="container">

        <div class="flex-container">
<!--            <div class="left">-->
<!--                <div class="gua-note-add">-->
<!--                    <a href="javascript:;">新建笔记</a>-->
<!--                </div>-->

<!--                <div class="">-->
<!--                    <a class="note-buy-vip" href="javascript:;">购买会员</a>-->
<!--                </div>-->
<!--                <div class="gua-account">-->
<!--                    <div class="gua-avater ">-->
<!--                        <svg t="1577685787837" class="icon" viewBox="0 0 1024 1024" version="1.1"-->
<!--                             xmlns="http://www.w3.org/2000/svg" p-id="2581" width="32" height="32">-->

<!--                        </svg>-->
<!--                    </div>-->
<!--                    <div class="gua-account-login-register hidden">-->
<!--                        <a href="javascript:;" class="gua-button-login">登录</a>-->
<!--                        <a href="javascript:;" class="gua-button-register">注册</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <div class="middle">
                <div class="note-header">
                    <div class="note-header-title">笔记</div>

                </div>
                <div class="note-list">
                    <div class="note-list-item active" :data-id="note.id" v-for="(note, i) in notes" @click="oneNote(note.id)">
                        <!--            <div class="note-list-item-time">1 天前</div>-->
                        <div class="note-list-item-summery">{{ note.title }}</div>
                        <span class="note-list-item-delete" style="display: none;">x</span>
                    </div>
                </div>
            </div>
            <div class="right">
                <div id="id-note-time-wrapper">
                    <div id="id-note-time">
                        <div>
                            <span>创建时间: </span><span id="id-span-created">{{ this.note.createTime }}</span>
                        </div>
                        <div>
                            <span>更新时间: </span><span id="id-span-updated">{{  this.note.updateTime }}</span>
                        </div>
                    </div>
                </div>
                <div class="gua-note-title">
<!--                    <span id="id-span-title">笔记</span>-->
                    <div>
                        <button class="gua-button gua-button-save" @click="newNote">新建</button>
                        <button class="gua-button gua-button-save" @click="saveNote">保存</button>
<!--                        <div id="id-file-upload">-->
<!--                            <input type="file" id="id-file-selector" multiple accept=".jpg, .jpeg, .png, .gif">-->
<!--                        </div>-->
                    </div>
                </div>
                <div contenteditable class="gua-note-container"  @input="editContent">

                </div>
            </div>
        </div>

    </div>

    </body>

</div>

</body>

<script src='js/common.js'></script>
<!--vue-->
<script src="libs/vue@2.6.10.js"></script>
<!-- element 引入组件库 -->
<script src="libs/element-ui@2.14.1/index.js"></script>
<!--axios-->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


<script>
    let app = new Vue({
        // 既然 el 是选择器，那么 class 选择器也是可以的
        el: '.app',
        data: function () {
            return {
                notes: [],
                note: {
                    content: '',
                    title: '',
                    createTime: '',
                    updateTime: '',
                }
            }
        },
        methods: {
            editContent: function(event) {
                let target = event.target;
                let html = target.innerHTML
                let title = target.innerText

                this.note.title = title.replaceAll('\n', ' ')
                this.note.content = html
            },
            openSuccess() {
                this.$message({
                    message: '保存成功',
                    type: 'success'
                });
            },
            newNote: function() {
              this.note = {}
              this.setContetHtml("")
            },
            saveNote: function () {
                log('note', this.note)
                axios.post("/enote/add", {
                    "note": this.note,
                }).then(response => {
                    let data = response.data.data;
                    let code = response.data.code
                    log(data, code)
                    if (code === "0") {
                        this.openSuccess()
                        this.note = data
                        log('save note', this.note)
                        this.allNote()
                    } else {
                        this.$message.error('保存失败');
                    }
                })
            },
            allNote: function () {
                axios.get("/enote/all").then(response => {
                    let data = response.data.data;
                    let code = response.data.code
                    log(response, code)
                    if (code === "0") {
                        this.notes = data.notes;
                        log('notes', this.notes)
                    }
                })
            },
            setContetHtml: function(content) {
                _e('.gua-note-container').innerHTML = content
            },
            oneNote: function (id) {
                log("note", id, this.note)
                axios.get("/enote/one/" + id).then(response => {
                    let data = response.data.data;
                    let code = response.data.code
                    log(response, code)
                    if (code === "0") {
                       this.note = data;
                        this.setContetHtml(this.note.content)
                    }
                })
            },
            shortCut: function () {
            //js监听键盘ctrl+s快捷键保存
                let self = this
                document.addEventListener('keydown', function(e){
                    if (e.key === 's' && (navigator.platform.match("Mac") ? e.metaKey : e.ctrlKey)){
                        e.preventDefault();
                        log('saved');
                        self.saveNote()
                    }
                });
            }
        },
        mounted() {
            this.allNote()
            this.shortCut();
        }
    })
</script>
</html>
