<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="css/common.css">
    <style type="text/css">
        @media screen and (min-width: 240px) and(max-width: 319px) {
            html {
                font-size: 10px;
            }

        }
    </style>
    <title th:replace="${title}">默认系统名称</title>
</head>
<body>

</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</html>