<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>vue 1-2</title>
    <script src="libs/vue@2.6.10.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style type="text/css">
    </style>
</head>
<body>
<div class="app1-2">
    <h4>hello: <span th:text="${user.username}"></span></h4>
    <h4>在线用户数: <span th:text="${onlineUserNum}"></span></h4>

    <div>
        <a href="/article">跳转到 article </a>
    </div>
    <div>
        <button><a href="/ss/account/enable">点击激活ss</a></button>
    </div>

</div>

<script>
    let app = new Vue({
        // 既然 el 是选择器，那么 class 选择器也是可以的
        el: '.app1-2',
        data: function () {
            return {

            }
        },
        methods: {


        },
        mounted() {

        }
    })
</script>
</body>
</html>
